:root {
  --main-title-color: #ffffff;
  --secondary-title-color: #303030;
  --main-btn-color: #ffffff;
  --secondary-btn-color: #303030;
  --accent-color: #ff6c00;
  --background-color: #ffffff;
  --secondary-background-color: #303030;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

body {
  font-family: "open sans", sans-serif;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
}

.after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

/* HEADER */

.header {
  background-color: grey;
  padding-top: 32px;
  padding-bottom: 32px;
}

.link:hover,
.hero-link:hover,
.hero-item:hover,
.header-tel:hover {
  color: var(--accent-color);
}

.link:focus,
.hero-link:focus,
.hero-item:focus,
.header-tel:focus {
  color: var(--accent-color);
}

.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-title-color);
}

.header-btn {
  color: var(--main-btn-color);
}

/* HERO */

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36px;
  letter-spacing: 0.2em;
  color: var(--secondary-title-color);
}

.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}

.hero-after-title {
  color: #9da4bd;
}

.hero {
  background-color: var(--secondary-title-color);
}

/* ABOUT */

.about {
  background-color: var(--background-color);
}

.about-pre-title {
  margin-bottom: 20px;
  color: var(--secondary-title-color);
}

.about-title {
  margin-bottom: 20px;
  color: var(--secondary-title-color);
}

.about-after-title {
  margin-bottom: 20px;
  color: #555555;
}

.about-text {
  margin-bottom: 42px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
}

.about-btn {
  color: var(--secondary-btn-color);
}

/* PRICES */

.prices {
  background-color: var(--secondary-background-color);
}
.prices-pre-title {
  margin-bottom: 20px;
  color: rgba(157, 164, 189, 0.6);
}

.prices-title {
  margin-bottom: 44px;
  color: var(--main-title-color);
}
.prices-list {
  padding: 30px 20px;
  border: 1px solid var(--main-title-color);
}

.prices-item {
}

.prices-list-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-btn {
  margin: 0 auto;
  display: block;
  margin-top: 44px;
  color: var(--main-btn-color);
}

/* BENEFITS */

.benefits {
  background-color: var(--background-color);
}

.benefits-list {
}

.benefits-item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
}

.benefits-item span {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--secondary-title-color);
  display: block;
  margin-bottom: 6px;
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-align: center;
  color: var(--secondary-title-color);
}

.benefits-pre-title {
  margin-bottom: 20px;
  color: var(--secondary-title-color);
}

.benefits-title {
  margin-bottom: 20px;
  color: var(--secondary-title-color);
}

.benefits-after-title {
  color: #555555;
}

/* BARBERS */

.barbers {
  background-color: #f7f7f7;
}

.barbers-pre-title {
  margin-bottom: 20px;
  color: var(--secondary-title-color);
}

.barbers-title {
  margin-bottom: 44px;
  color: var(--secondary-title-color);
}

.barbers-list {
}

.barbers-item {
}

.barbers-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
}

.barbers-item-text {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.barbers-container {
  margin-bottom: 8px;
}

/* GALLERY */

.gallery {
  background-color: var(--background-color);
}
.gallery-pre-title {
  margin-bottom: 44px;
  color: var(--secondary-title-color);
}
.galerry-list {
}
.gallery-item {
}

/* ONLINE */

.online {
  background-color: #191c26;
}

.online-title {
  color: var(--main-title-color);
}

/* CONTACTS */

.contacts {
  background-color: #191c26;
}

.contacts-title {
  margin-bottom: 40px;
  color: var(--main-title-color);
}

.contacts-address {
  margin-bottom: 70px;
}

.contacts-map-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;

  margin-bottom: 20px;
  display: inline-block;
}

.contacts-list {
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: #9da4bd;
}

.contacts-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 20px;
}

.contacts-schedule {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
